/*
====================================================================
ヘッダー部関連（全画面共通）
====================================================================
*/

header {
    margin: 0;
    padding: 0;
    height: 250px;
    display: block;
    width: 100%;
    min-width: 430px;
    font-weight: 600;
}

.header-top{
    display: block;
    height: 200px;
    background-color: lightblue;
    white-space: nowrap;
}

.header-bottom{
    border: 1px solid black;
    display: block;
    height: 50px;
    font-size: 20px;
    white-space: nowrap;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 430px;
    font-size: 60px;
    height: 80px;
    position: absolute;
    white-space: nowrap;
}

.ow2-icon{
    float: left;
    width: 200px;
    height: 200px;
}

.chat{
    float: left;
    width: 150px;
    height: 150px;
    display: none;
}

.stadium-icon{
    margin-top: 15px;
    margin-right: 40px;
    float: right;
    width: 200px;
    height: 170px;
}

.topPage-button{
    color: black;
    display: inline-flex;
    width: 250px;
    height:26px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    border-right: 1px solid lightgray;
    text-decoration: none;
}

.topPage-button:hover{
    background-color: #eee;
}

/*
====================================================================
メイン部（トップページ）
====================================================================
*/

main-toppage{
    margin-top: 2px;
    margin-left: 200px;
    margin-right: 200px;
    height: 100vh;
    border: 1px solid black;
    display: block;
    min-width: 430px;
    font-weight: 300;
}

.toppage-info-title {
    display: flex;
    margin-left: 20px;
    min-width: 430px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
}

.toppage-info-content{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    min-width: 430px;
    border: 1px solid gray;
    white-space: nowrap;
    height: 600px;
    overflow-y: scroll;
}
