/*
====================================================================
ヘッダー部関連（全画面共通）
====================================================================
*/

header {
    margin: 0;
    padding: 0;
    height: 250px;
    display: block;
    width: 100%;
    min-width: 430px;
    font-weight: 600;
}

.header-top{
    display: block;
    height: 200px;
    background-color: lightblue;
    white-space: nowrap;
}

.header-bottom{
    border: 1px solid black;
    display: block;
    height: 50px;
    font-size: 20px;
    white-space: nowrap;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 430px;
    font-size: 60px;
    height: 80px;
    position: absolute;
    white-space: nowrap;
}

.ow2-icon{
    float: left;
    width: 200px;
    height: 200px;
}

.chat{
    float: left;
    width: 150px;
    height: 150px;
    display: none;
}

.stadium-icon{
    margin-top: 15px;
    margin-right: 40px;
    float: right;
    width: 200px;
    height: 170px;
}

.topPage-button{
    color: black;
    display: inline-flex;
    width: 250px;
    height:26px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    border-right: 1px solid lightgray;
    text-decoration: none;
}

.topPage-button:hover{
    background-color: #eee;
}



/*
====================================================================
メイン部（トップページ）
====================================================================
*/

main-toppage{
    margin-top: 2px;
    margin-left: 200px;
    margin-right: 200px;
    height: 100vh;
    border: 1px solid black;
    display: block;
    min-width: 430px;
    font-weight: 300;
}

.toppage-info-title {
    display: flex;
    margin-left: 20px;
    min-width: 430px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
}

.toppage-info-content{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    min-width: 430px;
    border: 1px solid gray;
    white-space: nowrap;
    height: 600px;
    overflow-y: scroll;
}

#tabcontrol a {
   display: inline-block;            /* インラインブロック化 */
   border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
   border-style: solid;              /* 枠線の種類：実線 */
   border-color: black;              /* 枠線の色：黒色 */
   border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
   padding: 0.75em 1em;              /* 内側の余白 */
   text-decoration: none;            /* リンクの下線を消す */
   color: black;                     /* 文字色：黒色 */
   background-color: white;          /* 背景色：白色 */
   font-weight: bold;                /* 太字 */
   position: relative;               /* JavaScriptでz-indexを調整するために必要 */
}

#tabbody div {
   border: 1px solid black; /* 枠線：黒色の実線を1pxの太さで引く */
   margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
   padding: 1em;            /* 内側の余白量 */
   background-color: white; /* 背景色：白色 */
   position: relative;      /* z-indexを調整するために必要 */
   z-index: 0;              /* 重なり順序を「最も背面」にするため */
}

#tabcontrol a:nth-child(1), #tabbody div:nth-child(1) { background-color: #ffffdd; }/* 1つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(2), #tabbody div:nth-child(2) { background-color: #ddffdd; }/* 2つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(3), #tabbody div:nth-child(3) { background-color: #ddddff; }/* 3つ目のタブとその中身用の配色 */

#tabcontrol a:hover {
   text-decoration: underline;   /* リンクの下線を引く */
}