/*
====================================================================
ヘッダー部関連（全画面共通）
====================================================================
*/

header {
    margin: 0;
    padding: 0;
    height: 250px;
    display: block;
    width: 100%;
    min-width: 430px;
    font-weight: 600;
}

.header-top{
    display: block;
    height: 200px;
    background-color: lightblue;
    white-space: nowrap;
}

.header-bottom{
    border: 1px solid black;
    display: block;
    height: 50px;
    font-size: 20px;
    white-space: nowrap;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 430px;
    font-size: 60px;
    height: 80px;
    position: absolute;
    white-space: nowrap;
}

.ow2-icon{
    float: left;
    width: 200px;
    height: 200px;
}

.stadium-icon{
    margin-top: 15px;
    margin-right: 35px;
    float: right;
    width: 200px;
    height: 170px;
}

.header-button{
    color: black;
    display: inline-flex;
    width: 220px;
    height:26px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    border-right: 1px solid lightgray;
    text-decoration: none;
}

.header-button:hover{
    background-color: #eee;
}

.header-button-selected{
    color: black;
    display: inline-flex;
    width: 220px;
    height:26px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    background-color: lightgray;
    border-right: 1px solid lightgray;
    text-decoration: none;
}

/*
====================================================================
メイン部（トップページ）
====================================================================
*/

main-toppage {
    margin-top: 2px;
    height: 100vh;
    border: 1px solid black;
    display: block;
    min-width: 430px;
    font-weight: 300;
}

.info-title {
    display: flex;
    margin-left: 20px;
    min-width: 430px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
}

.info-content {
    padding-left: 20px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    min-width: 430px;
    border: 2px solid gray;
    white-space: nowrap;
    height: 600px;
    overflow-y: scroll;
    background-color: #FAFAFA;
}

/*
====================================================================
メイン部（ビルドシミュレーター）
====================================================================
*/

main-buildsimulator {
    margin-top: 2px;
    height: 100%;
    border: 1px solid black;
    display: block;
    width: auto;
    min-width: 430px;
    font-weight: 300;
}

.selectedhero-title {
    display: flex;
    margin-left: 20px;
    min-width: 430px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
}

.hero-icon {
    cursor: pointer;
    margin-left: 30px;
    width: 120px;
    height: 120px;
    border: 2px solid dodgerblue;
}

.herowindow-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 430px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.herowindow-content {
    position: fixed;
    display: inline-flex;
    top: 300px;
    left: 20%;
    right: 20%;
    padding: 15px;
    min-width: 630px;
    height: 320px;
    background: white;
    border-radius: 8px;
}

.herowindow-content-left {
    width: 100%;
}

.herowindow-hero-icon {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 3px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.herowindow-close-button {
    border: 1px solid gray;
    float: right;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    color: #555;
    height: 28px;
}

.selectedbuild-title {
    display: flex;
    margin-left: 20px;
    width: 200px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
}

.selectedbuild-content {
    padding-top: 15px;
    margin-left: 20px;
    width: 850px;
    border: 2px solid gray;
    white-space: nowrap;
    height: 285px;
    background-color: #FAFAFA;
}

.selectedbuild-item {
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
}

.selectedbuild-power {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
}

.selectedbuild-text {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    align-content: center;
    width: 80px;
    height: 75px;
}

.selectedbuild-text-theoretical {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    align-content: center;
    width: 80px;
    height: 35px;
}

.selectedbuild-item-icon {
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.selectedbuild-power-icon {
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.selectedbuild-delete-button {
    border: 1px solid gray;
    float: right;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    color: #555;
    height: 18px;
}

.selectedbuild-theoretical-checkbox {
    display: block;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 85px;
    border-radius: 10px;
}

.status-title {
    display: flex;
    margin-left: 20px;
    width: 150px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
}

.status-content {
    padding-top: 15px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: 850px;
    border: 2px solid gray;
    height: 495px;
    background-color: #FAFAFA;
    overflow-y: scroll;
}

.heroname {
    text-indent: 1em;
    font-weight: 550;
    color: #555555;
    margin: 0;
}

.dva-button {
    display: none;
    border: 1px solid black;
    margin: 0 0 0 10px;
    font-weight: 550;
    color: #555555;
    padding: 0 5px 0 5px;
    cursor: pointer;
}
.dva-button:hover{
    background-color: lightgray;
}

.zaria-button {
    display: none;
    border: 1px solid black;
    margin: 0 0 0 10px;
    font-weight: 550;
    color: #555555;
    padding: 0 5px 0 5px;
    cursor: pointer;
}
.zaria-button:hover{
    background-color: lightgray;
}

.juno-button {
    display: none;
    border: 1px solid black;
    margin: 0 0 0 10px;
    font-weight: 550;
    color: #555555;
    padding: 0 5px 0 5px;
    cursor: pointer;
}
.juno-button:hover{
    background-color: lightgray;
}

.moira-button {
    display: none;
    border: 1px solid black;
    margin: 0 0 0 10px;
    font-weight: 550;
    color: #555555;
    padding: 0 5px 0 5px;
    cursor: pointer;
}
.moira-button:hover{
    background-color: lightgray;
}

.theoreticalvalue-button {
    display: none;
    border: 1px solid black;
    margin: 0 0 0 10px;
    font-weight: 550;
    color: #555555;
    padding: 0 5px 0 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}
.theoreticalvalue-button:hover{
    background-color: lightgray;
}

.status {
    padding-left: 15px;
    font-weight: 550;
    color: #555555;
    margin: 0;
}

.itemlist-title-close {
    display: block;
    width: 100%;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
    background-color: #ffe6e6;
}

.itemlist-title-open {
    display: none;
    width: 100%;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
    background-color: #ffe6e6;
}

.itemlist-title-close:hover{
    cursor: pointer;
}

.itemlist-title-open:hover{
    cursor: pointer;
}

.weapon-title-close {
    display: block;
    margin-bottom: 2px;
}

.weapon-title-open {
    display: none;
    margin-bottom: 2px;
}

.weapon-title-close:hover{
    cursor: pointer;
}

.weapon-title-open:hover{
    cursor: pointer;
}

.ability-title-close {
    display: block;
    margin-bottom: 2px;
}

.ability-title-open {
    display: none;
    margin-bottom: 2px;
}

.ability-title-close:hover{
    cursor: pointer;
}

.ability-title-open:hover{
    cursor: pointer;
}

.survival-title-close {
    display: block;
    margin-bottom: 2px;
}

.survival-title-open {
    display: none;
    margin-bottom: 2px;
}

.survival-title-close:hover{
    cursor: pointer;
}

.survival-title-open:hover{
    cursor: pointer;
}

.powerlist-title-close {
    display: block;
    width: 100%;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
    background-color: #ccffcc;
}

.powerlist-title-open {
    display: none;
    width: 100%;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
    background-color: #ccffcc;
}

.powerlist-title-close:hover{
    cursor: pointer;
}

.powerlist-title-open:hover{
    cursor: pointer;
}

.item-table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

.item-thead {
    background-color: #f2f2f2;
}

.item-tr {
    border: 1px solid #999;
    padding: 8px 12px;
    text-align: center;
}

.item-th {
    border-right: 1px solid lightgray;
}

.item-td {
    border: 1px solid lightgray;
}

.power-table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

.power-thead {
    background-color: #f2f2f2;
}

.power-tr {
    border: 1px solid #999;
    padding: 8px 12px;
    text-align: center;
}

.power-th {
    border-right: 1px solid lightgray;
}

.power-td {
    border: 1px solid lightgray;
}

.hidden-column {
    display: none;
}

.buildsimulator-itemicon {
    margin-left: 8px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.buildsimulator-powericon {
    margin-left: 8px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
 
.buildlist{
    margin-top: 20px;
    border-top: 1px solid black;
    overflow-y: scroll;
    height: 1200px;
}

.selectedbuild-content{
    background-color: #f2f2f2;
}

.status-content{
    background-color: #f2f2f2;
}

.status-div{
    margin: 10px;
    padding-left: 10px;
    border: 1px solid black;
    background-color: #FAFAFA;

}

.status-div p{
  margin-top: 0%;
  margin-bottom: 0%;
}

.status-div strong{
  font-weight: bold;
}

/*
====================================================================
メイン部（アイテム/パワー一覧）
====================================================================
*/

main-IAP{
    margin-top: 2px;
    height: auto;
    border: 1px solid black;
    border-top: none;
    display: block;
    min-width: 430px;
    font-weight: 300;
}

.tabs {
    padding-top: 20px;
    margin-left: 30px;
    display: flex;
}
.tabItem {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black; /* タブのボーダー */
  border-bottom: none; /* 下のボーダーを消す */
  cursor: pointer;
  background-color: lightgray;
}
.tabPower {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px dashed black; /* タブのボーダー */
  border-bottom: none; /* 下のボーダーを消す */
  border-left: none; /* 左のボーダーを消す */
  cursor: pointer;
  background-color: white;
}

.tabItem:hover {
  background-color: lightgray; /* ホバー時の背景色 */
}
.tabPower:hover {
  background-color: lightgray; /* ホバー時の背景色 */
}

.item-content{
    display: block;
    border-top: 1px solid black;
}
.power-content{
    display: none;
    border-top: 1px solid black;
}

.button-category{
    width: 75px;
    display: flex;
    margin-right: 5px;
    

}

.button-only{
    display: flex;
    flex-wrap: wrap;
    width: 79%;
}

.button-on{
    height: 45px;
    display: block;
    width: 105px;
    border: 2px solid black; /* TODO:線を太く、実線にしてみる */
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: lightgray;
    cursor: pointer;
    color: black;

    word-wrap: break-word;
}

.button-off{
    height: 45px;
    display: block;
    width: 105px;
    border: 1px solid black; /* TODO:線を2→1pxに*/
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
    color: black;

    word-wrap: break-word;
}

.button-list{
    display:flex;
    flex-wrap: wrap;
    word-break: keep-all;
    margin: 10px 0px 0px 25px;
}

.itemlist-title {
    display: block;
    width: 100%;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
    background-color: #ffe6e6;
    margin-bottom: 20px;

}
.power-title {
    display: block;
    width: 100%;
    text-indent: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    height: 30px;
    white-space: nowrap;
    background-color: #ffe6e6;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sort-down{
    cursor: pointer;
}

.item-hero-icon-off {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 3px;
    width: 70px;
    height: 70px;
    filter: saturate(0%); /*アイコンを白黒にする*/
    border: 2px solid transparent;
    opacity: 0.5;
}
.item-hero-icon-on {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 3px;
    width: 70px;
    height: 70px;
    filter: saturate(100%); /* アイコンをカラーにする */
    border: 2px solid yellow;
}

.power-hero-icon-off {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 3px;
    width: 70px;
    height: 70px;
    filter: saturate(0%); /*アイコンを白黒にする*/
    border: 2px solid transparent;
    opacity: 0.5;
}
.power-hero-icon-on {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 3px;
    width: 70px;
    height: 70px;
    filter: saturate(100%); /* アイコンをカラーにする */
    border: 2px solid yellow;
}

.power-table {
    margin-bottom: 30px;
}

.itemandpower-itemicon {
    margin-left: 8px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
}

.itemandpower-powericon {
    margin-left: 8px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.name-table {
    display: flex;
    align-items: center;
}

.table-on{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.table-off{
    display: none;
}

.tr.table-off{
    display: none;
}

.itemandpower-statusicon{
    width: 10px;
    height: 10px;
}

.patch-history-content {
    padding: 5px;
    min-height: 100px;
}

.history-content-wrapper {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

/*
====================================================================
メイン部（パッチノート）
====================================================================
*/

.year-header, .month-header, .day-header, .character-name {
    padding: 8px 0;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.year-header {
    cursor: pointer;
    background-color: #f0f0f0;
    padding-left: 10px;
}

.month-header {
    cursor: pointer;
    background-color: #f8f8f8;
    padding-left: 30px;
}

.day-header {
    cursor: pointer;
    background-color: #ffffff;
    padding-left: 50px;
}

.character-name {
    background-color: #e0f7fa;
    padding-left: 70px;
    color: #00796b;
    border-bottom: none;
    margin-bottom: 5px;
}

.year-content, .month-content, .day-content {
    display: none;
    padding-bottom: 10px;
}

.month-content {
    padding-left: 20px;
}

.day-content {
    padding-left: 40px;
    padding-top: 10px;
}

.character-data-container {
    padding-left: 80px;
    padding-top: 5px;
}

.item-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.item-details:last-child {
    margin-bottom: 0;
}

.item-details p {
    margin: 5px 0;
}

.item-details strong {
    display: inline-block;
    width: 100px;
    font-weight: normal;
    color: #555;
}

.item-details ul {
    list-style-type: disc;
    padding-left: 30px;
    margin: 5px 0 0 0;
}

.item-details ul li {
    margin-bottom: 3px;
}

.item-checkbox {
    display: block; 
    width: 20px;
    margin: 0 auto;
    transform: scale(2.5);
}

.power-checkbox {
    display: block; 
    width: 20px;
    margin: 0 auto;
    transform: scale(2.5);
}

.weapon {
    background-color: #ffd3d3;
}

.ability {
    background-color: #d3d3ff;
}